
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Inventory Management System</h1><br /><br/>
</div>
<div class="d-grid gap-3 col-8 mx-auto">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Product">View Products</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Category">View Categories</a>

</div>