@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Inventory Management System</h1><br /><br/>
</div>
<div class="d-grid gap-3 col-8 mx-auto">
    <button class="btn btn-primary" type="button" onclick="">View Products</button>
    <button class="btn btn-primary" type="button">View Categories</button>
</div>